body {
    background-color:black;
    font-family: arial;
    color: white;
}

h1{
    padding-left: 10vw;
    color:grey;
    font-family:verdana
}
.text-div{
    padding-left: 10vw;
}

.maindiv {
    margin: auto;
    background-color: white;
    color: black;
    width: 60vw;
    padding: 20px;
    border-radius: 25px;
}

footer{
    padding-top: 2rem;
    text-align: center
}

mark {
    background-color: yellow;
    color: black;
  }